@{
    ViewBag.Title = "About";
}



<h1>>Salutari!<</h1>
<br />
Această aplicație a fost dezvoltată de către Dogaru Alice-Elena, studentă a Universității Petrol-Gaze din Ploiești.
<br />
Sper sa va descurcati usor in navigarea site-ului.
<br />
<hr />
Acestea sunt cateva reguli de folosire:
<ul>
    <li>Un utilizator neînregistrat poate doar să își creeze cont și să se autentifice.</li>
    <li>Un utilizator înregistrat poate să creeze proiecte.</li>
    
</ul>
<br />
Cum funcționează aplicația:
<br /> Pentru a crea un proiect:
<ul>
    <li>După autentificare, în partea de sus a paginii va apărea un buton ”My Projects”. Dacă îl apăsați, veți fi redicreționați către pagina cu propriile proiecte;</li>
    <li>Pentru a crea un proiect nou, apăsați pe butonul ”Add New Project”. Veți fi redirecționați către o pagină unde veți introduce numele și o descriere despre proiect (descrierea nu poate lipsi);</li>
    <li>După salvare, veți fi reîntors către pagina ce conține toate proiectele dumneavoastră. Pentru a vizualiza detalii despre proiect, dați click pe acesta.</li>
</ul>
<br /> Pentru a crea o cameră:
<br />
<ul>
    <li>Odată ce ați apăsat pe un proiect, aveți la dispoziție un buton pentru a adăuga camere noi. Click pe ”Add New Room” pentru a crea o cameră nouă;</li>
    <li>După ce ați apăsat pe buton, veți fi redirecționați către o pagină unde veți alege numele camerei. După salvare, va apărea o pagină cu numele camerei și un buton pentru a vă întoarce la proiect;</li>
    <li>Pentru a mobila camera, dați click pe numele acesteia din interiorul proiectului. Astfel, veți fi dus la interfața de design interior, unde puteți adăuga obiecte din meniul din bara de navigație, puteți să le mutați, puteți schimba culoarea pereților și textura podelei;</li>
    <li>Salvați progresul în pagină apăsând pe butonul ”Save Changes” și accesați camera oricând doriți.</li>
</ul>
<br />
