<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e2a9c01c-106a-4fa2-a108-dee0bffa4403/resourceGroups/Licenta/providers/Microsoft.Web/sites/LicentaStuff20200910145312</ResourceId>
    <ResourceGroup>Licenta</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://licentastuff20200910145312.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>licentastuff20200910145312.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>LicentaStuff20200910145312</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$LicentaStuff20200910145312</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:licentastuffdbserver.database.windows.net,1433;Initial Catalog=LicentaStuff_db;User ID=alicee@licentastuffdbserver;Password=Arterafemurala1337”" Name="Data Source=tcp:licentastuffdbserver.database.windows.net,1433;Initial Catalog=LicentaStuff_db;User Id=alicee@licentastuffdbserver;Password=Arterafemurala1337”" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="LicentaStuff.Models.ApplicationDbContext, LicentaStuff" MigrationConfiguration="LicentaStuff.Migrations.Configuration, LicentaStuff" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:licentastuffdbserver.database.windows.net,1433;Initial Catalog=LicentaStuff_db;User Id=alicee@licentastuffdbserver;Password=Arterafemurala1337”</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>